.title {
  text-align: center;
}

.button {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.form {
  width: 75%;
}

.github {
  background: #8c8c8c;
  border: black;
}

.kofi {
  background: #ff5e5b;
  border: black;
}
