@import '~antd/dist/antd.dark.css';

.App {
  text-align: center;
}

body {
  background-color: #141414;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #177ddc;
}
